<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<head>
    <title></title>
</head>
<body>
<wicket:panel>
    <form wicket:id="yes-no-form" action="#" >
        <span wicket:id="message">are you sure</span><br/>
        <input wicket:id="no-button" type="submit" value="no" />
        <input wicket:id="yes-button" type="submit" value="yes" />
    </form>
</wicket:panel>
</body>
</html>